<div class="container">
  <h2 class="main-title">Notepad Application</h2>
  <div class="note-container">
    <div class="loading" *ngIf="loading">
      <svg id="load" x="0px" y="0px" viewBox="0 0 150 150">
        <circle id="loading-inner" cx="75" cy="75" r="60"/>
      </svg>
    </div>

    <div class="toast-message" (click)="hideToast()" *ngIf="errors.isset">
      {{errors.message}}
    </div>

    <div class="notepad-title-container">
      <div class="notepad-input-field">
        <label>Notepad Title</label>
        <input type="text" maxlength="255" required placeholder="My notepad title..." [(ngModel)]="dataModel.title" #title="ngModel">
      </div>
      <div>
        <button [disabled]="title.invalid" (click)="saveClick()" disabled>Save</button>
        <button class="btn-danger" *ngIf="dataModel.id" (click)="deleteNotepad()">Delete</button>
      </div>
    </div>
    <div class="notes-container" *ngIf="dataModel.id">
      <div class="add-note-container">
        <h3>My Notes</h3>

        <input type="text" maxlength="255" required placeholder="Enter note title..." [(ngModel)]="noteModel.title" #noteTitle="ngModel">
        <textarea maxlength="1000" required placeholder="Enter note..." [(ngModel)]="noteModel.note" #noteText="ngModel"></textarea>
        <button class="btn-success" [disabled]="noteText.invalid || noteTitle.invalid" (click)="createNote()">Add</button>
      </div>
      <div class="added-notes-container">
        <div class="added-container" *ngFor="let note of dataModel.notes; let i = index;">
          <div class="added-container-input-fields">
            <input type="text" [value]="note.title" [(ngModel)]="note.title" placeholder="Enter note title...">
            <textarea [value]="note.note" [(ngModel)]="note.note" placeholder="Enter note..."></textarea>
          </div>
          <div>
            <button class="btn-danger" *ngIf="dataModel.notes.length > 1" (click)="deleteNote(i)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
