.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    padding: 30px;
    background-color: #eee;
}

.container .main-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.container .note-container {
    flex: 1;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

.container .notepad-title-container {
    display: flex;
}

.container .notepad-input-field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container .notepad-title-container button {
    margin: 0 5px;
}

.container label {
    margin-bottom: 5px;
}

.container input {
    display: block;
    width: 250px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #333;
    box-sizing: border-box;
}

.container textarea {
    display: block;
    width: 250px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #333;
    resize: none;
    box-sizing: border-box;
}

.container button {
    background-color: #39ACDC;
    padding: 8px 20px;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    border: none;
}

.container button.btn-danger {
    background-color: #ec3646;
}

.container button.btn-success {
    background-color: #57b93e;
}

.container button[disabled] {
    opacity: 0.6;
}

.container .notes-container {
    margin-top: 30px;
}

.container .add-note-container {
    max-width: 500px;
}

.container .add-note-container textarea {
    height: 80px;
}

.container .add-note-container input, .container .add-note-container textarea {
    width: 100%;
    margin-top: 10px;
}

.container .add-note-container button {
    margin-top: 10px;
}

.container .add-note-container h3 {
    font-size: 18px;
}

.container .added-container {
    display: flex;
    margin-top: 20px;
}

.container .added-container button {
    margin-left: 20px;
}

.container .added-container-input-fields {
    width: 500px
}

.container .added-container-input-fields input, .container .added-container-input-fields textarea {
    width: 100%;
    margin-bottom: 10px;
}

.container .added-container-input-fields textarea {
    height: 80px;
}

@media only screen and (max-width: 540px) {
    .notepad-title-container {
        flex-direction: column;
    }
    .container .notepad-title-container input {
        width: auto !important;
    }
    .notepad-title-container button {
        margin-top: 10px !important;
        margin-left: 0 !important;
    }
    .added-container {
        flex-direction: column;
    }
    .added-container button {
        margin-left: 0 !important;
    }
    .added-container-input-fields {
        width: auto !important;
    }
}

.toast-message {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #353535;
    padding: 10px;
    color: white;
    max-width: 300px;
    font-size: 14px;
    word-break: break-word;
    line-height: 20px;
    cursor: pointer;
}

.loading {
    /*margin: 50px auto;*/
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%) scale(0.2);
}
.loading > h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: 300;
    color: #8E8E8E;
}

.loading #load {
    width: 150px;
    animation: loading 3s linear infinite;
}
.loading #load #loading-inner {
    stroke-dashoffset: 0;
    stroke-dasharray: 300;
    stroke-width: 10;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    animation: loading-circle 2s linear infinite;
    stroke: #51BBA7;
    fill: transparent;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loading-circle {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -600;
    }
}
