<div class="container">
  <h2 class="main-title">Notepad Application</h2>
  <div class="note-container">
    <div class="notepad-title-container">
      <div class="notepad-input-field">
        <label>Notepad Title</label>
        <input type="text" maxlength="255" required placeholder="My notepad title..." [(ngModel)]="dataModel.title" #title="ngModel">
      </div>
      <div>
        <button>Save</button>
        <button>Delete</button>
      </div>
    </div>
    <div class="notes-container">
      <div class="add-note-container">
        <h3>My Notes</h3>

        <input type="text" maxlength="255" placeholder="Enter note title..." [(ngModel)]="noteModel.title">
        <textarea maxlength="1000" placeholder="Enter note..." [(ngModel)]="noteModel.note"></textarea>
        <button>Add</button>
      </div>
      <div class="added-notes-container">
        <div class="added-container">
          <div class="added-container-input-fields">
            <input type="text" placeholder="Enter note title...">
            <textarea placeholder="Enter note..."></textarea>
          </div>
          <div>
            <button>Delete</button>
          </div>
        </div>
        <div class="added-container">
          <div class="added-container-input-fields">
            <input type="text" placeholder="Enter note title...">
            <textarea placeholder="Enter note..."></textarea>
          </div>
          <div>
            <button>Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
